<h2 class="title">Mon profil</h2>
<div class="profilSection">

    <button class="areaButton" (click)="openDialogArea()">Zone géographique</button>
    <div class="profilOne" *ngIf="!hideFields['lastName']">
        <div class="profilElement">
            <p class="underline">Nom :</p>
            <p>{{ user.lastName }}</p>
        </div>
        <button class="profilButton" (click)="toggleField('lastName')"><i class="pi pi-pencil" style="font-size: 1.5rem"></i></button>
    </div>
    <div class="profilInput" *ngIf="hideFields['lastName']">
        <input type="text" placeholder="Nom" [(ngModel)]="editLastName">
        <button class="profilButton" (click)="saveLastName()"><i class="pi pi-check" style="font-size: 1.5rem"></i></button>
    </div>

    <div class="profilOne" *ngIf="!hideFields['firstName']">
        <div class="profilElement">
            <p class="underline">Prénom :</p>
            <p>{{ user.firstName }}</p>
        </div>
        <button class="profilButton" (click)="toggleField('firstName')"><i class="pi pi-pencil" style="font-size: 1.5rem"></i></button>
    </div>
    <div class="profilInput" *ngIf="hideFields['firstName']">
        <input type="text" placeholder="Prénom" [(ngModel)]="editFirstName">
        <button class="profilButton" (click)="saveFirstName()"><i class="pi pi-check" style="font-size: 1.5rem"></i></button>
    </div>

    <div class="profilOne" *ngIf="!hideFields['email']">
        <div class="profilElement">
            <p class="underline">Email :</p>
            <p>{{ user.email }}</p>
        </div>
        <button class="profilButton" (click)="toggleField('email')"><i class="pi pi-pencil" style="font-size: 1.5rem"></i></button>
    </div>
    <div class="profilInput" *ngIf="hideFields['email']">
        <input type="text" placeholder="Email" [(ngModel)]="editEmail">
        <button class="profilButton" (click)="saveEmail()"><i class="pi pi-check" style="font-size: 1.5rem"></i></button>
    </div>

    <div class="profilOne" *ngIf="!hideFields['address']">
        <div class="profilElement">
            <p class="underline">Adresse :</p>
            <p>{{ user.address }}</p>
        </div>
        <button class="profilButton" (click)="toggleField('address')"><i class="pi pi-pencil" style="font-size: 1.5rem"></i></button>
    </div>
    <div class="profilInput" *ngIf="hideFields['address']">
        <input type="text" placeholder="Adresse" [(ngModel)]="editAddress">
        <button class="profilButton" (click)="saveAddress()"><i class="pi pi-check" style="font-size: 1.5rem"></i></button>
    </div>

    <div class="profilOne" *ngIf="!hideFields['phone']">
        <div class="profilElement">
            <p class="underline">Téléphone :</p>
            <p>{{ user.phone }}</p>
        </div>
        <button class="profilButton" (click)="toggleField('phone')"><i class="pi pi-pencil" style="font-size: 1.5rem"></i></button>
    </div>
    <div class="profilInput" *ngIf="hideFields['phone']">
        <input type="text" placeholder="Téléphone" [(ngModel)]="editPhone">
        <button class="profilButton" (click)="savePhone()"><i class="pi pi-check" style="font-size: 1.5rem"></i></button>
    </div>
</div>

<!-- 
<h2 class="title">Mes interventions</h2>
<div class="upcomingInterventions">
    <p>Mes interventions à venir</p>
    <div class="oneUpcomingIntervention">
        <div class="titleAndDate">
            <div class="interventionTitle" *ngFor="let intervention of interventionInfo">
                <p>{{ intervention.title }}</p>
            </div>
            
            <p class="interventionDate">{{ myInterventions.rdv_date | dateFormat }}</p>
        </div>
        <button class="trashButton"><i class="pi pi-trash" style="font-size: 1.5rem"></i></button>
    </div>
</div>
<div class="pastInterventions">
    <p>Mes interventions passées</p>
</div>
-->