.background {
    background-image: url('../../assets/background-login-signup.jpg'); 
    .loginContainer {
        width: 300px;
        height: 200px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
        border-radius: 40px;
    }
}