@import url('https://fonts.googleapis.com/css2?family=Jomolhari&display=swap');

body {
    background-color: #FFF9F4;
    font-family: "Jomolhari", serif;
    padding: 0;
    margin: 0;
}

h1 {
    font-weight: 400;
    font-size: 35px;
}

p {
    font-size: 20px;
}

button {
    background-color: #272949;
    color: #FFF9F4;
    border: none;
    padding: 13px 18px;
    font-family: "Jomolhari", serif;
    font-size: 17px;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
}