.accueil-banniere {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    .banniere-photo {
        width: 400px;
    }
    .banniere-bouton {
        width: 500px;
        .banniere {
            margin-bottom: 55px;
        }
    }
}

.img-accueil2 {
    width: 100%;
    margin: 35px 0 0 0;
}

/* Style général du conteneur carousel */
.cards ::ng-deep .p-carousel-container {
    border-radius: 12px;
    padding: 20px 10px;
   
  }
  
  /* Style des items */
  .cards p-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cards ::ng-deep .p-carousel-item .border-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    
    border-radius: 12px;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .cards ::ng-deep .p-carousel-item .border-1:hover {
    transform: scale(1.01); /* Effet zoom sur hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }

  .cards ::ng-deep .p-carousel-item {
    display: flex;
    justify-content: center; /* Centrer les cartes dans le carousel */
    padding: 0 10px; /* Espacement horizontal */
  }
  
  /* Titre des items */
  .cards .font-medium {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
  }
  
  /* Description des items */
  .cards .interventionDescription {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    text-align: justify;
    line-height: 1.6;
  }
  
  /* Prix */
  .cards .font-semibold {
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Boutons précédent/suivant */
  .cards ::ng-deep .p-carousel-prev,
  .cards ::ng-deep .p-carousel-next {
    font-size: 3rem !important;
    width: 50px; /* Largeur des boutons de navigation */
    height: 50px; /* Hauteur des boutons de navigation */
    background-color: transparent; /* Fond transparent */
    border: none; /* Pas de bordure */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: none; /* Pas de shadow */
    color: #101010; /* Couleur des flèches */
    cursor: pointer; /* Curseur de la souris */
    transition: color 0.3s ease;
  }
  
  .cards ::ng-deep .p-carousel-prev:hover,
  .cards ::ng-deep .p-carousel-next:hover {
    color: black;
    transform: scale(1.10);
  }
  
  /* Pagination (indicateurs) */
  .cards ::ng-deep .p-carousel-indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .cards ::ng-deep .p-carousel-indicator {
    width: 12px;
    height: 12px;
    background-color: #ddd;
    border-radius: 50%;
    margin: 0 5px;
    transition: background-color 0.3s ease;
  }

  .contentCenter{
    display: flex;
    justify-content: center;
  .reparation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    .reparationText {
      width: 33%;
      font-size: 35px;
    }
    button {
      height: 50px;
    }
  }
}