<div class="accueil-banniere">
    <img src="./../../assets/img-accueil.png" class="banniere-photo" alt="image de la bannière d'accueil qui représente un vélo">
    <div class="banniere-bouton">
        <div class="banniere">
            <h1 class="banniere-titre">L'entretien ou la réparation de votre vélo, sans vous déplacer ? </h1>
            <p class="banniere-description">Profitez d’un service pratique et rapide : nous venons directement chez vous pour réparer ou entretenir votre vélo. Plus besoin de vous déplacer, prenez rendez-vous et laissez nos experts s'occuper de tout !</p>
        </div>
        <button class="bouton-accueil">Je prends rendez-vous</button>
    </div>
</div>