.accueil-banniere {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 85px;
    .banniere-photo {
        width: 400px;
    }
    .banniere-bouton {
        width: 500px;
        .banniere {
            margin-bottom: 55px;
        }
    }
}

.img-accueil2 {
    width: 100%;
    margin: 45px 0;
}