<div class="intervention">
    <div class="imgAndText">
        <img src="../../assets/interventionPicture.png" alt="interventionPicture">
        <div class="titleAndDescription">
            <h1>{{ intervention.title }}</h1>
            <p>{{ intervention.description }}</p>
        </div>
    </div>
    <div class="priceAndDuration">
        <p class="price">{{ intervention.price | priceFormatter }}</p>
        <p class="duration">{{ intervention.duration | duration }}</p>
    </div>
</div>


<div class="appointment">
    <h1 class="title">Je choisis mon créneau</h1>
</div>